form {
	display: inline-block;
	padding: 0.5em;
}
.form-actions {
	text-align: right;
	margin-top: 1em;
	border-top: 1px solid #ddd;
	padding: 0.3em 0.3em 0 0.3em;
}
button,
.checkbox-label {
	cursor: pointer;
}
.form-item {
	margin-bottom: 0.5em;
}

.required label::after {
	content: '*';
	color: red;
	display: inline-block;
	font-size: 0.7em;
	position: relative;
	top: -0.3em;
}
label {
	display: block;
}
.description {
	font-size: 0.75em;
	color: #555;
}
input[type="text"],
select,
textarea {
	padding: 0.3em 0.3em 0.4em 0.3em;
	box-shadow: inset 0 0 2px #aaa;
	background-color: white;
	border: 1px solid #b4b4b4;
	box-sizing: border-box;
}
input[type="text"] {
	width: 25em;
}
input[type="text"]:hover,
textarea:hover {
	box-shadow: inset 0 0 1px #aaa;
}
input[type="text"]:focus,
textarea:focus {
	box-shadow: inset 0 0 2px #aaa;
	border: 1px solid #979797;
}
button[type="submit"] {
	padding: 0.2em 1em;
	background-color: #38ad7b;
	color: white;
	border: 1px solid #1e8056;
	font-size: 1em;
	line-height: 1.7em;
}
button[type="submit"]:hover {
	box-shadow: 0 0 1px 0 #1e8056;
}
button[type="button"] {
	padding: 0.1em 0.5em 0.3em;
	background-color: #3896ad;
	color: white;
	border: 1px solid #246171;
}
button[type="button"]:hover {
	box-shadow: 0 0 1px 0 #246171;
}
button.remove {
	background-color: #e95151;
	border: 1px solid #963131;
}
button.remove:hover {
	box-shadow: 0 0 1px 0 #963131;
}

.product-pages input[type="text"] {
	width: 30em;
}
.product-pages {
	display: inline-block;
}
