body {
	line-height: 1.5em;
	font-size: medium;
	background-color: whitesmoke;
	font-family: Verdana, sans-serif;
}
body,
input,
textarea,
select {
	color: #333;
}
body * {
	box-sizing: border-box;
}
header {
	margin-bottom: 0.5em;
}
ul {
	margin: 0;
}
h1 {
	font-weight: normal;
	margin-top: 0.3em;
	margin-bottom: 1.5em;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
header,
.page,
#db-panel,
.messages {
	width: 95vw;
	margin-left: auto;
	margin-right: auto;
}
.page,
#db-panel,
.messages ul {
	padding: 0.3em 0.5em;
}
.main-menu,
.page {
	background-color: #f8f8f8;
	box-shadow: 0 0 1px 0;
}
.breadcrumbs {
	margin-bottom: 0.5em;
}
#db-panel {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	text-align: center;
	background-color: #444;
	color: lightgoldenrodyellow;
}
#db-panel span:not(:last-child) {
	margin-right: 1em;
}
.has-dbg {
	padding-bottom: 2em;
}
.messages ul {
	list-style: none;
	border: 1px solid;
	margin: 0.2em 0;
}
.error {
	background-color: lightpink;
	color: crimson;
}
.status {
	background-color: #d3f9d3;
	color: #037c03;
}
.warning {
	background-color: lightgoldenrodyellow;
	color: darkgoldenrod;
}
.success {
	color: white;
	background-color: darkgreen;
}
.fail {
	color: white;
	background-color: red;
}
.service {
	color: white;
	background-color: indianred;
}
table {
	border-collapse: collapse;
	text-align: left;
	background-color: white;
}
td,
th {
	padding: 0.2em 0.3em;
	border: 1px solid gainsboro;
}
th {
	font-weight: normal;
	background-color: #e0e0e0;
	color: #090909;
}
tr .price {
	text-align: right;
}
.inline-actions a:not(:last-child)::after {
	content: '|';
	display: inline-block;
	margin: 0 0.5em;
	color: darkgray;
	font-size: 0.7em;
}
.local-actions {
	border-bottom: 1px solid lightgray;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
}
ul.breadcrumbs,
ul.menu,
ul.product-pages {
	list-style: none;
}
ul.breadcrumbs,
ul.product-pages {
	padding-left: 0;
}
ul.menu {
	padding-left: 0.5em;
}
ul.breadcrumbs::after {
	content: '';
	display: table;
	float: none;
	clear: both;
}
ul.breadcrumbs li {
	display: inline-block;
}
ul.breadcrumbs li:not(:last-child)::after {
	content: '>';
	margin: 0 0.5em;
}
.container-inline > div,
.container-inline > label {
	display: inline-block;
}
.container-inline > div:not(:last-child),
.container-inline > label,
.page-prices caption label {
	margin-right: 0.3em;
}
.container-inline > label:not(.checkbox-label)::after,
.page-prices caption label::after {
	content: ':';
}
fieldset {
	border: 1px solid #ddd;
}
.product-page-link {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	margin-right: 2em;
}
.page-prices {
	margin-bottom: 1em;
}
.not-tracked {
	color: red;
}
.tracked {
	color: #00a100;
}
.menu li {
	display: inline-block;
}
.main-menu li:not(:last-child) {
	margin-right: 0.5em;
}
.ajax-loading {
	display: inline-block;
	background-image: url('./img/ajax-loader.gif');
	height: 32px;
	width: 32px;
}
.ajax-loading-small {
	display: inline-block;
	background-image: url('./img/ajax-loader-small.gif');
	height: 16px;
	width: 16px;
}
.ping-sites span {
	cursor: pointer;
	margin-left: 0.3em;
}
.last-time {
	color: dodgerblue;
}
.min-price {
	background-color: rgb(2, 176, 78);
	color: white;
	text-shadow: 0 1px black;
}
.more-price .price:before {
	content: "\21d1";
	color: red;
	font-weight: bold;
}
.less-price .price:before {
	content: "\21d3";
	color: #00a100;
	font-weight: bold;
}
.main .content-wrapper:after {
	content: '';
	display: table;
	clear: both;
}
.main .block {
	background-color: white;
	box-shadow: 1px 1px 1px 0;
	border: 1px solid #bbb;
	margin: 3px;
}
.block {
	padding: 0.5em;
}
.block h3 {
	margin: 0 0 0.5em 0;
	font-weight: normal;
}
.product-prices-block {
	float: left;
	width: calc(50% - 6px);
}
.block .product-view > label,
.block .product-item > label {
	display: block;
	text-align: center;
}
.block .product-view > table,
.block .product-item > table {
	margin: 0 auto;
}
.product-prices-block .product-item {
	margin: 0 auto;
	width: 435px;
}
.lined {
	overflow: hidden;
	position: relative;
	margin: 0;
	text-align: center;
	white-space: nowrap;
}
.lined:before,
.lined:after {
	content: '';
	display: inline-block;
	position: relative;
	top: -1px;
	width: 50%;
	height: 1px;
	vertical-align: middle;
	background: #333;
}
.lined:before {
	left: -10px;
	margin-left: -50%;
}
.lined:after {
	left: 10px;
	margin-right: -50%;
}
.collapsible .content {
	margin-left: 0.8em;
}
.block .collapsible:not(:last-child) .content {
	margin-bottom: 1em;
}
.collapsible .toggle-link::before {
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	margin-right: 0.3em;
	border-left: 0.3em solid transparent;
	border-right: 0.3em solid transparent;
	border-top: 0.5em solid;
}
.collapsible.collapsed .toggle-link::before {
	border-top: 0.3em solid transparent;
	border-bottom: 0.3em solid transparent;
	border-left: 0.5em solid;
}
@media screen and (max-width: 1000px) {
	.main .content-wrapper {
		display: block;
	}
	.product-prices-block {
		min-width: 100%;
	}
}
